body{
    background-color: #5163cb;
}

.cabeçalho{
    display: flex;
justify-content: space-around;
align-items: center;
padding: 26px;
}

.cabeçalho-lista-item{
display: inline-block;
margin: 0 20px;
font-size: 24px;
}

.logo{
    width: 25%
}